h1 {
    font-size: 3em;
    background-color: gray;
    color: white;
    text-decoration: underline;
    align-items: center;
}

footer {
    align-items: center;
    background-color: gray;
    color: white;
}

p {
    font-size: 1.3em;
}